{% extends 'store/main.html' %}
{% load static %}
{% block list_product %}

<title>foodApp: View Product</title>
<style>
    .button {
      display: inline-block;
      padding: 3px 20px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #050101;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }
    
    .button:hover {background-color: #a5aca5}
    
    .button:active {
      background-color: #121312;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    </style>
          
<script>
  function goBack() {
    window.history.back();
  }
</script>
<br>
<nav aria-label="breadcrumb" class="main-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a onclick="goBack()">Back</a></li>
    <li class="breadcrumb-item active" aria-current="page">Product List</li>
  </ol>
</nav><hr>

<a class="btn btn-primary btn-block text-uppercase" href="{% url 'create-product' %}">Add Product</a>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Name</th>
					<th>Price</th>
          <th>Seller</th>
					<th>Date Added</th>
					<th>Date Closed</th>  
					<th>View</th>
          <th>Update</th>
					<th>Remove</th>
				</tr>
				{% for product in products %}
          <tr>
            <td>{{product.name}}</td>
            <td>{{product.price|floatformat:0}} ฿</td>
            <td>{{product.seller}}</td>
            <td>{{product.created_date}}</td>
            <td>{{product.closed_date}}</td>
            <td><a class="btn btn-sm btn-info" href="{% url 'view-product' product.id %}">View</a></td>
            <td><a class="btn btn-sm btn-primary" href="{% url 'update-product' product.id %}">Update</a></td>
            <td><a class="btn btn-sm btn-danger" href="{% url 'delete-product' product.id %}">Delete</a></td>            
          </tr>
				{% endfor %}
        
        <hr>
			</table>
		</div>
	</div>
</div>
{% endblock %}
