{% extends 'store/main.html' %}
{% load static %}
{% block view_customer %}

<title>foodApp: Customer Edit</title>
<script>
    function goBack() {
      window.history.back();
    }
</script>
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
	.customer-info span{
		float: right;
	}

</style>
<br>
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a onclick="goBack()">Back</a></li>
	  <li class="breadcrumb-item active" aria-current="page">Customer List</li>
	  <li class="breadcrumb-item active" aria-current="page">Customer Profile</li>
      <li class="breadcrumb-item active" aria-current="page">Update Customer</li>
    </ol>
  </nav>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body" style="width: 500px; padding-bottom: 50px; margin-left: 300px">
			<h4 style="text-align: center">Customer: {{customer.user.username}}</h4><hr>
			<img class="profile-pic" src="{{customer.profile_image.url}}" alt=":(" width="150"><br>	
			<div class="customer-info">
				<p>Username<span>{{customer.user.username}}</span></p>
				<p>Email<span>{{customer.user.email}}</span></p>
				<p>Gender<span>{{customer.gender}}</span></p>
				<p>Phone-Number<span>{{customer.phone}}</span></p>
			</div>
		</div>
	</div>

</div>
{% endblock %}
<!-- <div class="col-md-9">
	<div class="card card-body">
		
	</div>
</div> -->
<!-- <button class="btn btn-outline-primary">Update Profile</button> -->
<!-- <form method="POST" action="" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}	
	<input class="btn btn-primary" type="submit" name="Update Information">
</form> -->